body {
    background-color:lightblue;
}

img {
    width: 300px;
    height: auto;
}

p, ul, ol {
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

h1 {
    text-align: center;
    text-decoration:line-through;
}